[submodule "search_engine_ui"]
	path = search_engine_ui
	url = git@github.com:feenord/search_engine_ui.git
[submodule "monitoring"]
	path = monitoring
	url = git@github.com:feenord/monitoring.git
[submodule "search_engine_crawler"]
	path = search_engine_crawler
	url = git@github.com:feenord/search_engine_crawler.git
